@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

body {
    background-color: '#18191A';
    color: '#F5F6F7';
}

.app-name {
    font-weight: 700;
    font-style: italic;
}